/* 
font-family: 'Alfa Slab One', cursive;
font-family: 'Bitter', serif;
font-family: 'Sanchez', serif;
font-family: 'Prociono', serif; 
*/

body{
    background-color: #6C8A94;
    background-image: url("../images/wine-cork.png");
}

h1 {
    
    font-size: 48px;
    color: #FCD1A9;
    text-shadow: 1px 1px #FA9397;
    font-family: 'Alfa Slab One', cursive; 
}


#startButton{
    position: absolute;
    top: 35%;
    left: 36%; 
    margin: 0 auto;
    width: 300px;
    height: 100px;
    background-color: #FCD1A9;
    text-shadow: 1px 1px #FA9397;
    text-align: center;
    font-family: 'Alfa Slab One', cursive;
    font-size: 80px;
    color: #6C8A94;
    border-radius: 10px;
    box-shadow: 10px 10px #FA9397;

}

#startOverButton {
    position: relative;
    top: 95%;
    left: 33%;
    margin: 0 auto;
    width: 335px; 
    height: 100px;
    background-color: #FCD1A9;
    text-shadow: 1px 1px #FA9397;
    text-align: center;
    font-family: 'Alfa Slab One', cursive;
    font-size: 80px;
    color: #6C8A94;
    border-radius: 10px;
    box-shadow: 10px 10px #FA9397;

}}




@-webkit-keyframes hvr-pulse-grow {
    to {
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
    }
  }
  @keyframes hvr-pulse-grow {
    to {
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
    }
  }
  .hvr-pulse-grow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
  }
  .hvr-pulse-grow:hover, .hvr-pulse-grow:focus, .hvr-pulse-grow:active {
    -webkit-animation-name: hvr-pulse-grow;
    animation-name: hvr-pulse-grow;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
  }
















h3 {
    font-size: 32px;
    color: #FCD1A9;
    text-shadow: 1px 1px #FA9397;
    font-family: 'Alfa Slab One', cursive; 
}
h2{
    text-align: center;
}

#h2Question {
    margin: 25px;
}

#rightOrWrongDiv {
    width: 92.5%;
    margin: 0 auto;
    background-color: #6A829C;
    box-shadow: 0px 0px #FA9397;
    border-radius: 5px;
    height: 475px;
    
}

#rightOrWrongH3 {
    font-size: 40px;
    color: #FCD1A9;
    text-shadow: 1px 1px #FA9397;
    font-weight: 700;
    font-family: 'Bitter', serif;
    text-align: center;
    padding-bottom: 5px;
}

#skipToNext {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 30px;
    width: 25%;
    background-color: #6A829C;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;

    font-size: 30px;
    
    font-family: 'Sanchez', serif;
    text-align: center;
}

#countdown {
    position: absolute;
    bottom: -70px;
    left: -10px;
    float: left;
    height: 30px;
    width: 98.5%;
    background-color: #6A829C;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;

    font-size: 28px;
    color: #FCD1A9;
    text-shadow: 1px 1px #FA9397;
    font-family: 'Sanchez', serif;
    text-align: center;
}

#countdown-number {
    display:inline-block;;
}

.hvr-sweep-to-right {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    color: #FCD1A9;
    text-shadow: 1px 1px #FA9397;
  }
  .hvr-sweep-to-right:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #FA9397;
    
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .hvr-sweep-to-right:hover, .hvr-sweep-to-right:focus, .hvr-sweep-to-right:active {
    color: white;
  }
  .hvr-sweep-to-right:hover:before, .hvr-sweep-to-right:focus:before, .hvr-sweep-to-right:active:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }



  #gifDiv {
    text-align: center;
    margin: 0 auto 0 auto;
    width: 100%;
    font-family: 'Bitter', serif;
    font-size: 32px;
    color: #FCD1A9;
    text-shadow: 1px 1px #FA9397;
    padding: 5px;

  } 

  #gifImg{
    height: 340px;
    margin-top: 20px;
    border-radius: 3px;
    
}



#rightAnswerWas {
    color: #FCD1A9;
    text-shadow: 1px 1px #FA9397;
    padding: 5px;
}











header{
    position: relative;
    bottom: 43px;
}

#container {
    background-image: url("../images/subtle-surface.png");
    position: relative;
    top: 25px;
    width: 85%;
    height: 615px;
    background-color: #95C4BE;
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 3px;
}





#question {
    background-color: #6A829C;
    height:200px;
    width: 90%;
    border-radius: 3px;
    color: #FF969A; 
    text-shadow: 0.5px 0.5px #FFDBDC;
    font-weight: 700;
    font-family: 'Bitter', serif;
    font-size: 42px;
    margin: 0 auto 0 auto;
    margin-bottom: 15px;
    padding: 15px; 
    position: relative;
    left: -5px;
   
}

#answerContainer{
    width: 95%;
    margin: 0 auto 0 auto;
    padding: 0px;

}

p{
    
    font-size: 30px;
    font-family: 'Sanchez', serif;
    text-align: center;
    
}
#a, #b, #c, #d {
    background-color: #6A829C;
    width: 46%;
    height: 100px;
    padding: 10px;
    border-radius: 3px;
    margin: 10px;
    
   

}
#a,#b {
    display: inline-block;
}

#c,#d {
    display: inline-block;
}


.hvr-shutter-out-horizontal {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative;
    background: #e1e1e1;
    color: #FF969A;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
  }
  .hvr-shutter-out-horizontal:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #FA9397;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .hvr-shutter-out-horizontal:hover, .hvr-shutter-out-horizontal:focus, .hvr-shutter-out-horizontal:active {
    color: white;
  }
  .hvr-shutter-out-horizontal:hover:before, .hvr-shutter-out-horizontal:focus:before, .hvr-shutter-out-horizontal:active:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }


/* .effect2
{
  position: relative;
}
.effect2:before, .effect2:after
{
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width:300px;
  background: #777;
  -webkit-box-shadow: 0 15px 10px #777;
  -moz-box-shadow: 0 15px 10px #777;
  box-shadow: 0 15px 10px #777;
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
}
.effect2:after
{
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
  right: 10px;
  left: auto;
} */








.effect3
{
  position: relative;
}
.effect3:before
{
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width:300px;
  background: #777;
  -webkit-box-shadow: 0 15px 10px #777;
  -moz-box-shadow: 0 15px 10px #777;
  box-shadow: 0 15px 10px #777;
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
}
















.effect8
{
    position:relative;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.1), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.1), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.1), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.effect8:before, .effect8:after
{
    content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.4);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.4);
    box-shadow:0 0 20px rgba(0,0,0,0.4);
    top:10px;
    bottom:10px;
    left:0;
    right:0;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
}
.effect8:after
{
    right:10px;
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg);
       -moz-transform:skew(8deg) rotate(3deg);
        -ms-transform:skew(8deg) rotate(3deg);
         -o-transform:skew(8deg) rotate(3deg);
            transform:skew(8deg) rotate(3deg);
}







#finalScore {
    width: 92.5%;
    margin: 0 auto;
    background-color: #6A829C;
    box-shadow: 0px 0px #FA9397;
    border-radius: 5px;
    height: 475px;
}













@media screen and (max-width: 1300px) {
    
    #a, #b, #c, #d {
        width: 45%;
    }

}
@media screen and (max-width: 1040px) {
    
    #question {
        width: 88%;
    }

    #a, #b, #c, #d {
        width: 44%;
    }

}
@media screen and (max-width: 867px) {
    #question {
        width: 86.5%;
        left: -1;
    }
    #a, #b, #c, #d {
        width: 43%;
    }

}
@media screen and (max-width: 743px) {
    #question {
        width: 86.5%;
        left: -1;
    }
    #a, #b, #c, #d {
        width: 92%;
    }

    #container {
        height: 890px;
    }
    

}

@media screen and (max-width: 626px) {
    #question {
        width: 85%;
        left: -1;
    }
    #a, #b, #c, #d {
        width: 92%;
    }

    #container {
        height: 910px;
    }
    

}















#timerBar {
    position: relative;
    top: 20px;
    left: -6px;
    margin: auto;
    width: 92.3%;
    background-color: #ddd;
    margin: auto;
    border-radius: 5px;
  }
  
  #barRemaining {
    width: 99%;
    height: 10px;
    background-color: #FA9397;
    border-radius: 5px;
  }